In [30]:
import numpy as np
import pandas as pd
import pytz
import requests
import statistics
from dateutil import parser

In [31]:
target_loc = 'Helsinki',
target_date = '07-01-2019'
target_timerange = '19-20'

date = parser.parse(target_date, dayfirst=True).replace(tzinfo=pytz.utc)
start_hour, end_hour = [int(i) for i in target_timerange.split('-')]
range_start = date.replace(hour=start_hour)
range_end = date.replace(hour=end_hour)

locations = pd.read_csv('locations.csv')
loc_ids = locations.location_id.tolist()
# filter by location, date, then time
# import them files
locations = pd.read_csv('locations.csv')
pickup_times = pd.read_csv('pickup_times.csv')
pickup_times.columns = ['id', 'ts', 'duration']
pickup_times.ts = pd.to_datetime(pickup_times.ts, utc=True)
# filterd = pickup_times.

maps_key = 'AIzaSyA2dpao0wgTvXM1cPlNFBoOV5z0lEbOn-E'

In [34]:
pickup_times.shape[0]

65380

In [28]:
pickup_times.ts.dt.date.isin([date.date()])

0        False
1        False
2        False
3        False
4        False
5        False
6         True
7        False
8        False
9        False
10       False
11       False
12        True
13       False
14        True
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28        True
29       False
         ...
65350    False
65351    False
65352    False
65353    False
65354    False
65355     True
65356    False
65357    False
65358     True
65359     True
65360    False
65361    False
65362    False
65363    False
65364    False
65365     True
65366     True
65367    False
65368    False
65369    False
65370    False
65371    False
65372    False
65373    False
65374     True
65375    False
65376    False
65377     True
65378    False
65379    False
Name: ts, Length: 65380, dtype: bool

In [14]:
pickup_times.head()

   id                        ts  duration  hour
0   2 2019-01-13 19:32:53+00:00        20    19
1  55 2019-01-13 18:12:20+00:00        37    18
2  73 2019-01-10 18:13:26+00:00        33    18
3  46 2019-01-13 19:34:42+00:00        33    19
4  59 2019-01-08 16:11:42+00:00        21    16

In [11]:
masks = pickup_times.id.isin(loc_ids) & pickup_times.ts.between(range_start, range_end)

In [116]:
filtered = pickup_times[masks].drop(['ts'], axis=1)

In [124]:
v = filtered.values
target = 2
v_1 = [i for i in v if i[0] == target]
v_1_t = [i[1] for i in v_1]
statistics.median(v_1_t)

16.5

In [112]:
filtered.head()

     id  duration
12   52        26
37   73        15
94   15        19
103  45        27
120  17        11

In [115]:
filtered.columns = ['location_id', 'duration']
result = filtered.groupby(['location_id']).median()
result.head()

             duration
location_id
1                22.0
2                16.5
3                14.0
4                16.5
5                28.0

In [106]:
result.to_excel('output.xlsx')

    duration
id
1       22.0
2       16.5
3       14.0
4       16.5
5       28.0

In [83]:
def get_city_by_coordinates(long, lat):
    url = f'https://maps.googleapis.com/maps/api/geocode/json?latlng={lat},{long}&sensor=true&key=AIzaSyA2dpao0wgTvXM1cPlNFBoOV5z0lEbOn-E'
    response = requests.get(url)
    
    if not response.ok:
        return 'Not available'
    
    content = response.json()
    city = [i['long_name'] for i in content['results'][0]['address_components'] if 'locality' in i['types']][0]
    
    return city

In [85]:
locations['city'] = locations.apply(lambda row: get_city_by_coordinates(row['longitude'], row['latitude']), axis=1)

In [88]:
locations.city.drop_duplicates()

0       Helsinki
2    Helsingfors
Name: city, dtype: object

In [80]:
js = result.json()
city = [i['long_name'] for i in js['results'][0]['address_components'] if 'locality' in i['types']][0]

In [81]:
city

'Helsinki'